<div class="container">
  <h1>Analyse des arbitrages</h1>

  <p>Nous avons trouvé <%= @arbitrage_selection.count %> opportunités d'abritrage !</p>
  <p>Arbitrages sélectionnés pour une barrière de <%= @barrier %>.</p>

  <table class="table table-condensed table-hover" id="arbitrages">
    <thead>
      <tr>
        <th>Id</th>
        <th>Trio</th>
        <th>Worst Ratio</th>
        <th>Raw Ratio</th>
        <th>Time</th>
        <th>+</th>
      </tr>
    </thead>
    <tbody>
      <% @arbitrage_selection.each do |arbitrage| %>
      <tr>
        <td><%= arbitrage.id %></td>
        <td><%= arbitrage.trio.first_currency.code %> > <%= arbitrage.trio.second_currency.code %> > <%= arbitrage.trio.third_currency.code %></td>
        <td><%= arbitrage.worst_ratio != nil ? (arbitrage.worst_ratio.round(4)) : nil %></td>
        <td><%= arbitrage.raw_ratio.round(4) %></td>
        <td><%= arbitrage.created_at %></td>
        <td><%= link_to 'Details', arbitrage %></td>
      </tr>
      
      <% end %>
    </tbody>
  </table>
    
</div>

