<div class="container">
  <h1>Analyse des arbitrages</h1>

  <p>Nous avons analysé <%= @arbitrage_count %> opportunités d'abritrage !</p>
  <p>Cela correspond à la collecte de <%= @order_book_count %> Order Books.</p>

  <p>Arbitrages sélectionnés pour une barrière de <%= @barrier %> : <%= @arbitrage_selection.count %>. </p>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th class="background-grey">Trio</th>
        <th>Raw Ratio</th>
        <th class="background-grey">Time</th>
      </tr>
    </thead>
    <tbody>
      <% @arbitrage_selection.each do |arbitrage| %>
      <tr>
        <td><%= arbitrage.id %></td>
        <td class="background-grey"><%= arbitrage.trio.first_currency.code %> > <%= arbitrage.trio.second_currency.code %> > <%= arbitrage.trio.third_currency.code %></td>
        <td><%= arbitrage.raw_ratio.round(4) %></td>
        <td class="background-grey"><%= arbitrage.created_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
    
</div>
